*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.conteiner {
  min-height: 100px;
  width: 80vw;
  border: black 1px solid;
}

.buttons {
  display: flex;
  justify-content: space-around;
}



.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.473);
  display: flex;
  justify-content: center;
}

.modal-window {
width: 400px;
height: 250px;
background-color: blanchedalmond;
margin-top: 150px;
border-radius: 5px;
position: relative;
display: flex;
flex-direction: column;
justify-content: space-between;
padding-bottom: 24px;
}
.modal-window > p {
  text-align: center;
}

.x-close {
  cursor: pointer;
  height: 30px;
  width: 30px;
  font-size: 25px;
  line-height: 26px;
  border-radius: 5px;
  padding-left: 15px;
  
}

.modalHeader {
  background-color: rgba(0, 0, 0, 0.384);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.actionsBtnConteiner {
  display: flex;
  justify-content: space-evenly;
}

.actionsBtn {
  height: 40px;
  width: 102px;
  background-color: rgba(0, 0, 0, 0.384);
  border: 0px;
}